<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walkingdevs.immigrate" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GooglePlacesAutocomplete"
            android:label="@string/app_code_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="22" />

        <activity
            android:name=".CityView"
            android:label="@string/title_activity_city_view"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.walkingdevs.immigrate.ModeTypeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.walkingdevs.immigrate.ModeTypeActivity" />
        </activity>

        <activity
            android:name=".NeighborhoodActivity"
            android:label="@string/title_activity_neighborhood"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.walkingdevs.immigrate.ModeTypeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.walkingdevs.immigrate.ModeTypeActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ModeTypeActivity"
            android:label="@string/title_activity_mode_type"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.walkingdevs.immigrate.GooglePlacesAutocomplete">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.walkingdevs.immigrate.GooglePlacesAutocomplete" />
        </activity>
        <activity
            android:name=".CompareActivity"
            android:label="@string/title_activity_compare" >
        </activity>
    </application>

</manifest>
